* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Inter', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
  background: #f55a5a;
  color: #ffffff;
  gap: 0.4375em;
}

header p {
  font-size: 0.875rem; /* 14px */
}

.card {
  padding: 2em;
  display: flex;
}
.card--image {
  display: flex;
  max-height: 200px;
}
